/*loader*/
.loader {
    margin-left: 0;
    animation: rotate 1s infinite;
    height: 30px;
    /* 더 줄임 */
    width: 30px;
    /* 더 줄임 */
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    /* 10px로 줄임 */
    width: 10px;
    /* 10px로 줄임 */
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: black;
    box-shadow: 15px 0 0 black;
    margin-bottom: 5px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: black;
    box-shadow: 15px 0 0 black;
    /* 간격 줄임 */
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 15px 0 0 black;
        /* 간격 줄임 */
    }

    50% {
        box-shadow: 0 0 0 black;
        margin-bottom: 0;
        -webkit-transform: translate(7px, 7px);
        /* 이동 거리 줄임 */
        -moz-transform: translate(7px, 7px);
        /* 이동 거리 줄임 */
    }

    100% {
        box-shadow: 15px 0 0 black;
        /* 간격 줄임 */
        margin-bottom: 5px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 15px 0 0 black;
        /* 간격 줄임 */
    }

    50% {
        box-shadow: 0 0 0 black;
        margin-top: -10px;
        /* 상단 마진 조정 */
        -webkit-transform: translate(7px, 7px);
        /* 이동 거리 줄임 */
        -moz-transform: translate(7px, 7px);
        /* 이동 거리 줄임 */
    }

    100% {
        box-shadow: 15px 0 0 black;
        /* 간격 줄임 */
        margin-top: 0;
    }
}